

*{
    color: white;
}

#navigation{
    background-color: gray;
}

#navigation-container{
    display: flex;
    justify-content: space-around;
}

.home-list-container{
    display: flex;
    gap: 20px;
}

.no-bullets {
    list-style-type: none;
  }

  .home-list-container{
    cursor: pointer;
  }
  .list-item:hover{
    color: black;
  }

  .banner-container{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(45deg, black, rgb(67, 67, 67));
    height: 100vh;
  }

  .text-container{
    align-items: center;
    margin-left: 0px;
    margin-top: 180px;
  }

  .first-part{
    margin-bottom: 0px;
    font-size: 46px;
  }
  
  .Second-part{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 46px;
  }

  .small-text{
    margin-top: 13px;
    font-size: small;
  }

  .banner-button{
    background-color: red;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 2px;
  }

  .banner-button:hover{
    cursor: pointer;
    background-color: brown;
  }

  .button-text{
    font-size: smaller;
  }

  .banner-img{
    height: 300px;
    width: 290px;
    margin-top: 150px;
  }

  /* this is main section */
  #about-container{
    height: 85vh;
  }

  .section-header{
    text-align: center;
    color: black;
    font-size: 50px;
  }

  .about{
    display: flex;
    justify-content: space-around;
  }

  .about-img{
    height: 370px;
    width: 350px;
  }

  .about-header{
    color: black;
    font-size: 25px;
  }

  .about-description{
    color: black;
    font-size: 20px;
  }

  .service-container{
    background-color: black;
    height: 70vh;
  }

  .service-header{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 33px;
  }

  .service{
    color: white;
    display: flex;
    justify-content: space-around;
  }

  .service-title{
    text-align: center;
  }

  .service-box{

  }